.engraver {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.engraver-overlay-bg {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.engraver-overlay {
    position: fixed;
    width: 650px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: white;
}

.engraver-title {
    padding: 16px 24px;
    margin: 0 -12px;
    background: #e56c0b;
    color: white;
    font-size: 20px;
}

.engraver-content {
    padding: 32px 24px 24px;
}

.engraver-close-button {
    position: absolute !important;
    top: 12px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
}

.engraver-text-controls .input-field {
    margin-bottom: 16px;
}
